<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Définir un nouveau mot de passe</title>
</head>
<body>
    {% include "header.html" %}
    <h2>Définir un nouveau mot de passe</h2>
    <form method="post">
        {% csrf_token %}
        <label for="new_password">Nouveau mot de passe :</label>
        <input type="password" name="new_password" required>
        <label for="confirm_password">Confirmer le nouveau mot de passe :</label>
        <input type="password" name="confirm_password" required>
        <button type="submit">Réinitialiser le mot de passe</button>
    </form>
    {% include "footer.html" %}
</body>
</html>

