<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <h2 class="mt-5">Vérifiez votre mot de passe</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" name="password" required />
                <label class="form-label" for="password">Password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Verify Password</button>
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
        </form>


        {% if messages %}
            <div class="alert alert-info mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include "footer.html" %}
</body>
</html>
