<footer class="bg-dark text-light py-4">
    <div class="container text-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><a href="#">Accueil</a></li>
        <li class="list-inline-item"><a href="#">Fonctionnalités</a></li>
        <li class="list-inline-item"><a href="#">Abonnement</a></li>
        <li class="list-inline-item"><a href="#">À Propos</a></li>
        <li class="list-inline-item"><a href="#">Blog</a></li>
        <li class="list-inline-item"><a href="#">Connexion</a></li>
      </ul>
      <p class="mb-0 mt-3">&copy; 2024 Votre Application. Tous droits réservés.</p>
    </div>
  </footer>